.collection-preview {
  display: flex;
  flex-wrap: wrap;
}

.collection-preview__title {
  width: 100%;
}

.collection-preview__link {
  text-decoration: none;
  color: #000000;
}

.collection-preview__header {
  margin: 30px 0 10px;
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
}